@charset "utf-8";

div {
	width: 100%;
	margin: 3% auto 3% auto;
	text-align: center;
}

div div {
	width: 1024px;
	margin: 15px auto 15px auto;
}

div div p {
	color: blue;
	font-weight: bold;
	text-align: left;
}

div div table {
	width: 70%;
	margin: 0px auto 0px auto;
	text-align: center;
}

div div table tr th {
	width: 350px;
	text-align: right;
}

div div table tr td {
	width: 350px;
	text-align: left;
}